
body {
	font-family: Arvo, Arial, "sans-serif";
	margin: 0;
	padding: 0;
}

#navigation {
	display: flex;
	justify-content: flex-start;
	align-content: center;
  	background-color: #333;
 	height: 50px;
}

#logo {
	margin: auto 15px;
	max-width: 50%;
}

#logo img {
	width: 100%;
  	height: auto;
}

#sandMenu {
  background-color: #333;	
  padding: 10px 26px;
  font-size: 22px;
  color: white;
  position: absolute;
  z-index: 99;
  top: 0%;
  right: 1%;
}

#ghost {
	clear: both;
}

.navLinks {
  display: none;
}

.navLinks div {
	background-color: #333;
	height: 50px;
}

#normalLinks div {
	display: inline;
	float: left;
}

.navLinks a {
	display: block;
  	font-size: 12px;
  	font-weight: bold;
  	color: lightgrey;
  	text-decoration: none;
  	line-height: 50px;
  	padding-left: 12px;
  	padding-right: 12px;
}

.navLinks div:hover {
  background-color: grey;
  color: white;
}

#home {
	background-image: url(images/hero-image.jpg);
	text-align: center;
}

#home h1, #home p {
	color: white;
	margin: 0;
}

#home p {
	font-size: 15px;
}

#home h1 {
	font-size: 22px;
	padding: 28px 12px 14px 12px;
/*	width: 100%;*/
}

#homeText {
	max-width: 900px;
	margin: auto;
}

p {
	font-family: Arial;
	padding: 6px 14px;
	line-height: 22px;
}

.bouton1 {
	color: white;
	background-color: #F74C3C;
	border:1px solid #C4504D;
	margin: 15px;
	padding: 15px;
	font-size: 18px;
	border-radius: 7px;
}

#logo_code {
	padding: 10px 12px 25px 12px;
}

.motblanc {
	font-weight: bold;
	font-size: 17px;
}

.motrouge{
	color: #F74C3C;
}

hr {
	width: 150px;
	border-top: 1px solid #F74C3C;
	padding: 0;
}


#who {
	display: block;
	text-align: center;
}

#who h1, #get-involved h1{
	font-size: 29px;
	color: #F74C3C;
	margin-bottom: 15px;
}

#who p {
	font-weight: 500;
}

#get-involved {
	text-align: center;
	background-color:#F5F5F5;
	padding: 30px 5px 0px 5px;
}

#get-involved hr {
	margin-bottom: 40px;
}

#who img {
	padding-top: 35px;
}

.bodybutton {
	font-size: 15px;
	font-weight: bold;
	color: #E74C3C;
	background-color: white;
	border: 1px solid #E2E2E2;
	border-radius: 7px;
	margin-top: 0;
	margin-bottom: 60px;
	padding: 8px;
}

h2 {
	color: #F74C3C;
}

.icones {
	height: 90px;
	width: 90px;
	background-color: #333333;
	color:white;
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	margin: auto;
}

footer {
	background-color: #F74C3C;
	height: 250px;
}

#footer {
	display: flex;
	justify-content: space-between;
}

footer img {
	padding-top: 140px;
	padding-left: 15px;
	width: 550px;
	height: 70px;
}

.fa-chevron-circle-up {
	color: #333333;
	padding-top: 190px;
	padding-right: 15px;
}

/*fleche to top*/
#back-to-top{
    position: fixed;
    z-index: 99;
    bottom: 4%;
    right: 1%;
}
.fa-arrow-circle-up{
    color: #333333;
}

/*DEBUT MQ dimensions generales pour
ecran superieures à "mobile"*/

@media screen and (min-width: 768px) {

	#navigation {
		display: flex !important;
		justify-content: space-around;
	}

	#normalLinks {
  		display: inline-block;
		}

	#sandMenu {
		display: none;
	}

	#home h1 {
	font-size: 4.5vw;
	}

	#home p {
	font-size: 1.6vw;
	line-height: 2.5vw;
	}

	.motblanc {
	font-size: 1.8vw;
	}

	.bouton1 {
	font-size: 3vw;
	}

	footer img{
    padding-top: 170px;
    padding-left: 150PX;
    height: 45px;
    width: 360px;
    }

}
/*FIN MQ dimensions generales pour
ecran superieures à "mobile"*/

@media screen and (min-width: 992px){
    
    .logotext{
        width:30%;
        display: inline-block;
    }

    .logotext p {
    	min-height: 88px;
    }

    #home p {
	font-size: 2vw;
	line-height: 3vw;
	}

}

@media screen and (min-width: 1200px){
    
    #homeText {
	max-width: 1100px; 
	}

	#home p {
	font-size: 18px;
	line-height: 22px;
	}
}